<p>Click <span class="underline" 
               hx-trigger="click"
               hx-get="./partials/details/hide"
               hx-target="#showDetails">here</span>
to hide these calculation method details.
</p>

<p>According to the European Commission website (as at August 2023), Regulation No 610/2013 requires British travellers
to the Schengen countries to visits of a maximum duration of 90 days in any 180 day period. The date of entry shall be
considered as the first day of stay on the territory of the Member States and the date of exit shall be considered as
the last day of stay on the territory of the Member States.</p>

<p>Note that the non-EU member states Iceland, Liechtenstein, Norway and Switzerland are included in the Schengen group,
while stays in Bulgaria, Croatia, Ireland, Romania and Cyprus are not considered as they are not presently in the
group.</p>

<p>
For more details see the European Commission calculation manual viewable <a
    href="https://ec.europa.eu/assets/home/visa-calculator/docs/short_stay_schengen_calculator_user_manual_en.pdf">
    here</a>.
</p>

<p>The calculation uses a 180 day moving window over the trips provided to find the maximum length of days, inclusive of
trip start and end dates, taken by the trips to learn if these breach the 90 day permissible length of stay. As noted
below, trips cannot overlap in time. If you depart and arrive on the same day in two Schengen countries, consider the
two trips a single trip.</p>

<p>The calculation performed here is MIT licensed open-source software, available at 
<a href="https://github.com/rorycl/timeaway">https://github.com/rorycl/timeaway</a>.</p>
</div>
